<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>UIPrerenderedIcon</key>
			<true/>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Aqwertyan-Icon-152</string>
				<string>Aqwertyan-Icon-76</string>
				<string>aqw_logo@2x.png</string>
				<string>aqw_logo.png</string>
			</array>
		</dict>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mid</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MIDI File</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ams.mid</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kar</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>KAR File</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ams.kar</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AQW File</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ams.aqw</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MIDI File Alt</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ams.midi</string>
			</array>
		</dict>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>com.ams.aqwertyan</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>APPL</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>UIPrerenderedIcon</key>
			<true/>
			<key>CFBundleIconFiles</key>
			<array>
				<string>aqw_logo@2x.png</string>
				<string>aqw_logo.png</string>
			</array>
		</dict>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Aqwertyan</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string></string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.ams.mid</string>
			<key>UTTypeDescription</key>
			<string>MIDI File</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mid</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.ams.kar</string>
			<key>UTTypeDescription</key>
			<string>KAR file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>kar</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.ams.aqw</string>
			<key>UTTypeDescription</key>
			<string>AQWERTYAN file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>aqw</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.ams.midi</string>
			<key>UTTypeDescription</key>
			<string>MIDI File Alt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>midi</string>
			</dict>
		</dict>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
</dict>
</plist>
